body, div, h1, h2, ul, li, aside,  nav {
  margin: 0;
  padding: 0;
  border: 0;
}
p{
  margin: 20px 0 ;
}

h1,h2{
  font-family: 'Open Sans', sans-serif;
}

body{
  font-family: 'Crimson Text', serif;
  background-color: #F2FFFC;
  font-size: 140%;
}

main{
  width: 100%;
  padding-bottom: 80px;
}

#cabecalho{
  font-size: 60px;
  background-color: #851944;
  color: #FFF;
  padding: 25px;
  border-bottom: 10px  solid black;
  text-align: center;


}

.subtitulo{
  font-size: 30px;
  clear: both;
}

.container{
  
  
  padding: 30px;
}


.navegacao{
  position: absolute;
  top: 0px;
  right: 0px;
  
  
}


.navegacao,.list1{
  font-size: 30px;
  text-align: center;
  color: #F2FFFC;
  display: flex;
  list-style-type: none;
 font-size: 60%;
  margin-left: 15px;
  }

  .navegacao a {
    font-family: 'Open Sans', sans-serif;
    color: black;
    
    text-decoration: none;
    padding: 15px;
    
    
  }

.navegacao a:hover{

  color: gray;
}



.minha-foto{
  
  height: 400px;
  width: 300px;
  box-sizing: border-box;
  float:left;
  width: 25%;
  padding-right: 20px;
  padding-bottom: 40px;
}

footer{
  color: #F2FFFC;
  background-color: #000;
  padding: 10px;
  

}

.certificados{
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

.imagemCertificados{
  padding:50px;

}

.imagemCertificados p{
  font-size: 80%;
}
.certificursos{
  padding: 30px;
}